<%- include('../partials/head.ejs') %>

<body>
<%- include('../partials/menu.ejs') %>

<img src="/images/about.png" alt="Thread N Things About Us Page" style="width: 100%">

<div id="about-img">
    <img src="/images/popupembroidery.png" alt="Pop Up Foral Embroidery" style="width: 100%;">
</div>

<div id="about-p">
    <p>
        &emsp;At Thread 'n Things, our journey began with a simple passion for crafting and a desire to share that joy with others. Founded by a group of friends who spent countless hours stitching and creating together, we realized that the magic of embroidery could bring people closer and spark their creativity. Inspired by our own experiences, we wanted to create a space where crafters of all levels could find the materials they need to express themselves.
        <br><br>
        &emsp;We believe that everyone deserves the chance to explore their creativity, which is why we prioritize offering affordable craft supplies. We understand that the cost of materials can be a barrier for many, and our mission is to make quality embroidery products accessible to all. By keeping our prices low, we empower our community to dive into their projects without hesitation. At Thread 'n Things, we’re not just selling supplies; we’re fostering creativity and building connections—one stitch at a time!
    </p>
</div>

<%- include('../partials/footer.ejs') %>
</body>