<%- include('../partials/head.ejs') %>

<body>
<%- include('../partials/menu.ejs') %>

<img src="/images/homepage.png" alt="Thread N Things Home Page" style="width: 100%">

<div id="home-container"></div>

    <img src="/images/sample1.png" id="top" alt="Pastel Coral, Mint, and White Floral Embroidery" class="home_img" width="300px">
    <p id="p-top">&emsp;At Thread 'n Things, we pride ourselves on fostering creativity and craftsmanship in every project. Our core value is to provide high-quality materials that inspire makers of all levels. We believe in the power of community, encouraging connections among crafters through shared passion and knowledge. Together, we stitch a vibrant tapestry of creativity and joy!</p>

    <p id="p-middle">&emsp;To foster creativity, we focus on offering affordable hobby products that make embroidery accessible to everyone. At Thread 'n Things, we curate a wide selection of supplies that inspire new ideas without breaking the bank. We believe that creativity should be accessible, empowering individuals to explore their artistic potential. By supporting your crafting journey with budget-friendly options, we help turn your imaginative visions into reality!</p>
    <img src="/images/sample2.png" id="middle" alt="In Progress Thick Floral Leafy Embroidery" class="home_img" width="300px">

    <img src="/images/sample3.png" id="bottom" alt="Autumn themed Mushroom and Pinecone Embroidery" class="home_img" width="300px">
    <p id="p-bottom">&emsp;At Thread 'n Things, we aim to cultivate a welcoming environment where creativity thrives and connections blossom. Our dedication to providing high-quality, affordable supplies empowers everyone to explore their embroidery passion. Together, we celebrate the unique journeys of each creator, because we believe every stitch tells a story. Join us in weaving your narrative!</p>

</div>

<%- include('../partials/footer.ejs') %>
</body>